  <!-- Section -->
    <section id="contact" class="pt-100 pb-100 subs">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 2em">
                    <div>
                        <h3 class="white">Subscribe to Our Mailing List</h3>
                    </div>
                    <p class="white">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                    <br>
            <form action="https://getsimpleform.com/messages?form_api_token=110dc4823c4276da5589a2616ac5d2d2" method="post">
                    <input type='hidden' name='redirect_to' value='{{site.url}}/thank-you/' />
                    <input class="form-control"  type='text' name='Email' placeholder="Leave your mail id here"/>
                    <br />
            <input class="btn btn-primary" type='submit' value='Contact Us' />
            </form>
                    
                    
                </div>
                <div class="col-md-6">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3880.900653868912!2d75.2415365145659!3d13.418476090563857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbb43d719008ba9%3A0x23a0aef5a7eb0811!2sSuvidha+Food+and+Bevarages!5e0!3m2!1sen!2sin!4v1498561376155" frameborder="0" allowfullscreen></iframe>
                </div>
                
            </div>
        </div>
    </section>