  <!-- Section -->
    <section id="contact" class="pt-100 pb-100 subs">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h3 class="white">Subscribe to Our Mailing List</h3>
                    </div>
                    <p class="white">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                    <br>
                    <form action="https://getsimpleform.com/messages?form_api_token=110dc4823c4276da5589a2616ac5d2d2" method="post" lpformnum="1">
                   
                            <input class="form-control" id="example-text-input-inline" type="text" placeholder="Leave your mail id here">
                            <br />
                            <input  class="btn btn-primary" type="submit" value="Contact me!">
                        
                    </form>
                </div>
                <div class="col-md-6">
                    <!-- map here -->
                </div>
                
            </div>
        </div>
    </section>