 <!-- Section -->
    <section class="pt-100 pb-80" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>Our Dedicated Team</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="/img/team-1.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Nandy Puerto</h6>
                        <span class="text-muted">CEO, Ambar sysrems</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="/img/team-2.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Josh Harding</h6>
                        <span class="text-muted">Business Op, Ambar sysrems</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="/img/team-3.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Cameron Rowley</h6>
                        <span class="text-muted">Operations, Ambar sysrems</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="member-box">
                        <img src="/img/team-2.jpg" class="img-rounded" alt="">
                        <h6 class="heading">Harrison Walton</h6>
                        <span class="text-muted">Support, Ambar sysrems</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
